#################
## Eclipse
#################

*.pydevproject
.project
.metadata
bin/
tmp/
temp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
generated/
in/

## Trying to figure this out
build/classes
build/dependency-cache
build/docs
build/libs
build/poms

CommonModule.js
LabModule.js
randori-compiler-latest.zip
.gradle/

project.properties

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

TestConstants.java

LabModule.rbl
CommonModule.rbl

**/libs/*.js
/local-deploy
