#if ($row.elementKind == "method")
<a name="${row.name}()"></a>
#else
<a name="${row.name}"></a>
#end

<table cellspacing="0" cellpadding="0" class="detailHeader">
<tbody>
    <tr>
    	#if ($row.elementKind == "method")
        <td class="detailHeaderName">${row.nameTitle}()</td>
        #else
        <td class="detailHeaderName">${row.nameTitle}</td>
        #end
        <td class="detailHeaderType">${lcModifier}</td>
        <td class="detailHeaderRule">&nbsp;</td>
    </tr>
</tbody>
</table>


<div class="detailBody">

##---------------------------------------
## Content
##---------------------------------------

<div>
<code><span class="element-attributes">$row.modifiers</span><span class="element-function">function</span>&nbsp;${row.name}#if(!$row.parameters.equals(""))(${row.parameters})#else()#end
  #if( !$row.isConstructor )
    #if( $row.returnType ) : ${row.returnType}#end
  #end
</code>
</div>

    <div>
    #if ( $row.shortDescription )<p>$row.shortDescription#end</p>
    #if ( $row.longDescription )$row.longDescription#end
    </div>
    
##---------------------------------------
## @param
##---------------------------------------
  
 #if( $row.paramTags && $row.paramTags.size() > 0)
    <p><span class="label">Parameters</span></p>
  <div class="seeAlso">
    #foreach( $tag in $row.paramTags)
       $tag<br/>
    #end
</div>
 #end
 
##---------------------------------------
## @return
##---------------------------------------
  
 #if( $row.returnTag)
    <p><span class="label">Returns</span></p>
    <div class="seeAlso">
       $row.returnTag<br/>
    </div>
 #end

##---------------------------------------
## @event
##---------------------------------------
  
#if( $row.eventTags && $row.eventTags.size() > 0)
  <p><span class="label">Events:</span></p>
  <div class="seeAlso">
    #foreach( $tag in $row.eventTags)
       $tag<br/>
    #end
</div>
#end 

##---------------------------------------
## @author
##---------------------------------------
  
 #if( $row.authorTags && $row.authorTags.size() > 0)
 <p><span class="label">Author:</span></p>
  <div class="seeAlso">
    #foreach( $tag in $row.authorTags)
       $tag<br/>
    #end
</div>
 #end

##---------------------------------------
## @copyright
##---------------------------------------
  
 #if( $row.copyrightTags && $row.copyrightTags.size() > 0)
 <p><span class="label">Copyright:</span></p>
  <div class="seeAlso">
    #foreach( $tag in $row.copyrightTags)
       $tag<br/>
    #end
</div>
 #end

##---------------------------------------
## @since | @productversion
##---------------------------------------
  
 #if( $row.sinceTag )
  <p><span class="label">Product Version:</span></p>
  <div class="seeAlso">$row.sinceTag</div>
 #end

##---------------------------------------
## @see
##---------------------------------------
  
#if( $row.seeTags && $row.seeTags.size() > 0)
  <p><span class="label">See Also</span></p>
  <div class="seeAlso">
    #foreach( $tag in $row.seeTags)
       $tag<br/>
    #end
</div>
#end 

##---------------------------------------
## @example
##---------------------------------------
  
#if( $row.exampleTags && $row.exampleTags.size() > 0)
    <p><span class="label">Examples</span></p>
    #foreach( $tag in $row.exampleTags)
      $tag
    #end

#end

#if( $row.code )
<div class="listing"><pre>
$row.code
</pre></div>
#end

##---------------------------------------
## Content
##---------------------------------------

</div>