#if( !$row.isInherited )
  <tr class="" bgcolor="#if( $rowFlag )#f2f2f2#else#ffffff#end">
#else
  <tr class="hideInherited${ucModifier}${ucTypeSingular}" bgcolor="#if( $rowFlag )#f2f2f2#else#ffffff#end">
#end

  <td class="summaryTablePaddingCol">&nbsp;</td>
  <td class="summaryTablePaddingCol">&nbsp;</td>

  #if( !$row.isInherited )
    <td class="summaryTableInheritanceCol">&nbsp;</td>
  #else
    <td class="summaryTableInheritanceCol">
        <img class="inheritedSummaryImage" title="Inherited" alt="Inherited" src="${basePath}images/inheritedSummary.gif">
    </td>
  #end
  
  #if( !$row.isInherited )
  	
  <td class="summaryTableSignatureCol">
  	
    <div>
      <a class="signatureLink" href="#${row.name}">${row.name}</a>
        #if( $row.valueType ) : ${row.valueType}#end
        #if( $row.value ) = ${row.value}#end
    </div>
    
    <div>
    #if( $row.isStatic )[static] #end
    #if ( $row.shortDescription )$row.shortDescription#end
    </div>
    
  </td>
  
  #else
  
  <td class="summaryTableSignatureCol">
  	
    <div>
        <a class="signatureLink" href="${row.definedByID}#${row.name}">${row.name}</a>
        #if( $row.valueType ) : ${row.valueType}#end
        #if( $row.value ) = ${row.value}#end
    </div>
    
    <div>
    #if( $row.isStatic )[static] #end
    #if ( $row.shortDescription )$row.shortDescription#end
    </div>
    
  </td>
  
  #end

  <td class="summaryTableOwnerCol">${row.definedBy}</td>
  
</tr>