#if( !$row.isInherited )
  <tr class="" bgcolor="#if( $rowFlag )#f2f2f2#else#ffffff#end">
#else
  <tr class="hideInherited${ucModifier}${ucTypeSingular}" bgcolor="#if( $rowFlag )#f2f2f2#else#ffffff#end">
#end

  #if( !$row.isInherited )
    <td class="summaryTablePaddingCol"><a name="event:${row.name}"> </a></td>
  #else
    <td class="summaryTablePaddingCol">&nbsp;</td>
  #end

  #if( !$row.isInherited )
    <td class="summaryTableInheritanceCol">&nbsp;</td>
  #else
    <td class="summaryTableInheritanceCol">
        <img class="inheritedSummaryImage" title="Inherited" alt="Inherited" src="${basePath}images/inheritedSummary.gif">
    </td>
  #end
  
  #if( !$row.isInherited )
    <td class="summaryTableSignatureCol">
        <div class="summarySignature"><a class="signatureLink" href="#${row.name}">${row.name}</a></div>
    </td>
  #else
    <td class="summaryTableSignatureCol">
        <div class="summarySignature"><a class="signatureLink" href="${row.definedByID}#${name}()">${row.name}</a></div>
    </td>
  #end

  #if( !$row.isInherited )

    <td class="summaryTableDescription">
      #if ( $row.shortDescription )$row.shortDescription#end
    </td>

  #else

    <td class="summaryTableDescription">
      #if ( $row.shortDescription )$row.shortDescription#end
    </td>

  #end

  <td class="summaryTableOwnerCol">${row.definedBy}</td>

</tr>