<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<head>
		<title></title>
	</head>
    <body class="tab-content targets">
        <div id="targets-list" class="target-view">
            <table id="targets-table" class="table table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Last Known Location</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody id="targetList" class="targets-list simpleList">
                    <tr id="template">
                        <td><img src="{image}"></td>
                        <td>{name}</td>
                        <td>{lastKnownLocation}</td>
                        <td>{status}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </body>
</html>